body {
    padding-top: 73px;
}
.social-button {
    text-align: left;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}